body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
}


/* unvisited link */
a:link,
a:visited {
    color: #ff9300;
}

/* mouse over link */  
a:hover {
    color: #ffb000;
}

/* selected link */
a:active {
    color: #ff6000;
}